In [3]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/alura-cursos/1576-mlops-machine-learning/aula-5/casas.csv")

df

      tamanho   ano  garagem   preco
0       159.0  2003        2  208500
1       117.0  1976        2  181500
2       166.0  2001        2  223500
3       160.0  1915        3  140000
4       204.0  2000        3  250000
...       ...   ...      ...     ...
1455    153.0  1999        2  175000
1456    193.0  1978        2  210000
1457    217.0  1941        1  266500
1458    100.0  1950        1  142125
1459    117.0  1965        1  147500

[1460 rows x 4 columns]

In [4]:
X = df.drop('preco', axis=1)
y = df['preco']

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

X_train.head()

      tamanho   ano  garagem
135     156.0  1970        2
1452    100.0  2005        2
762     144.0  2009        2
932     177.0  2006        3
435     154.0  1996        2

In [7]:
from sklearn.linear_model import LinearRegression

modelo = LinearRegression()
modelo.fit(X_train, y_train)

LinearRegression()

In [8]:
modelo.intercept_

-1484640.8721676648

In [9]:
X_train

      tamanho   ano  garagem
135     156.0  1970        2
1452    100.0  2005        2
762     144.0  2009        2
932     177.0  2006        3
435     154.0  1996        2
...       ...   ...      ...
1095    122.0  2006        2
1130    184.0  1928        2
1294     80.0  1955        2
860     132.0  1918        1
1126    144.0  2007        3

[1022 rows x 3 columns]

In [10]:
modelo.predict([[120, 2001,2]])

c:\Users\moura\MLops\venv\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([191436.53503831])

In [11]:
{
    
    "tamanho": 120,
    "ano": 2001,
    "garagem":2
}

{'tamanho': 120, 'ano': 2001, 'garagem': 2}

In [12]:
import pickle

pickle.dump(modelo, open('modelo.sav', 'wb'))